* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
  width: 100%;
  font-family: verdana, tahoma, sans-serif;
}

#container {
  width: 100%;
  max-width: 1024px;
  text-align: left;
  margin: 0 auto;
  padding: 0 10px;
}

h1,
h2,
h3,
h4,
legend {
  color: #069;
}

section#controlSection {
  label,
  input,
  button {
    display: block;
  }
  input[type="text"] {
    width: 100%;
    padding: 5px 10px;
  }
  fieldset {
    border: 1px solid #ccc;
    legend {
      font-weight: bold;
    }
  }
  label input[type="radio"] {
    display: inline;
  }
  #urlSubmit {
    margin-top: 20px;
    color: #fff;
    background: #069;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    &:hover {
      background: #08B;
    }
  }
}

section#viewSection {
  margin-bottom: 20px;
  #viewFrame {
    height: 300px;
    width: 100%;
    border: 1px solid #ccc;
    overflow: auto;
  }
  #viewPanel {
    display: table;
    overflow: visible;
    item {
      display: table-row;
      &:nth-child(2n) {
        background-color: #efefef;
      }
      * {
        display: table-cell;
      }
    }
  }
}