* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
  width: 100%;
  font-family: verdana, tahoma, sans-serif; }

#container {
  width: 100%;
  max-width: 1024px;
  text-align: left;
  margin: 0 auto;
  padding: 0 10px; }

h1,
h2,
h3,
h4,
legend {
  color: #069; }

section#controlSection label,
section#controlSection input,
section#controlSection button {
  display: block; }

section#controlSection input[type="text"] {
  width: 100%;
  padding: 5px 10px; }

section#controlSection fieldset {
  border: 1px solid #ccc; }
  section#controlSection fieldset legend {
    font-weight: bold; }

section#controlSection label input[type="radio"] {
  display: inline; }

section#controlSection #urlSubmit {
  margin-top: 20px;
  color: #fff;
  background: #069;
  border: none;
  padding: 10px 20px;
  font-weight: bold; }
  section#controlSection #urlSubmit:hover {
    background: #08B; }

section#viewSection {
  margin-bottom: 20px; }
  section#viewSection #viewFrame {
    height: 300px;
    width: 100%;
    border: 1px solid #ccc;
    overflow: auto; }
  section#viewSection #viewPanel {
    display: table;
    overflow: visible; }
    section#viewSection #viewPanel item {
      display: table-row; }
      section#viewSection #viewPanel item:nth-child(2n) {
        background-color: #efefef; }
      section#viewSection #viewPanel item * {
        display: table-cell; }
